@charset "UTF-8";

/* cores
   azul: #2D63C5
   azul escuro: #2F348B
   azul claro: #68C8D7
   verde: #96C42D

*/

@font-face {
    font-family: 'ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf) format(truetype);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'ubuntu', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

/* Header */

header{
    background-color: #2F348B;
}

header > div{
    display: flex;
}

header h1{
    margin: 30px 5px 30px 20px;
    align-self: center;
    font-size: 3em;
    color: white;
}

header form{
    margin-left: 45px;
    align-self: center;
    /*  margin: auto;*/
}

header form > input{
    width: 55vw;
    font-size: 1.4em;
    border-radius: 25px;
    padding: 8px 45px;
    border: .5px solid rgba(0, 0, 0, .2);
}

header form > input:hover{
    background-color: rgba(255, 255, 255, .7);
    /*cursor: pointer;*/
    color: black;
    
    transition: .3s ease;
}

header form > input:active{
    color: black;
}

ul{
    display: flex;
    list-style-type: none;
    justify-content: center;
}

nav li{
    margin-left: 15px;
    margin-bottom: 15px;
}

header nav a{
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}

header nav a:hover{
    background-color: #00000036;
    transition: .25s;
}

header nav a:active{
    background-color: #1e4792;
    /*color: rgb(189, 183, 183);*/
    transition: 0s;
}

h1{
    margin: 20px;
}

.luneta{
    position: relative;
    transform: translate(46px, 4px);
    background-color: #96C42D;
    color: white;
    padding: 7px;
    border-radius: 50%;
}

.loginn{
    align-self: center;
    color: #96C42D;
    margin: 15px;
}

.login{
    color: #96C42D;
    margin-left: 20px;
    transform: scale(2);
}

.login > p{
    font-family: 'ubuntu';
    font-size: 10px;
    color: white;
}

.login:hover{
    color: white;
    transition: .2s ease-out;
}

/* Conteúdos */

.principais{
    display: flex;
    justify-content: space-between;
}

.pets{
    display: flex;
   /* flex-wrap: wrap;*/
    margin-bottom: 60px;
}

.fpet{
    margin: 0 auto;
    transition: .22s ease-in-out;
}


.fpet > p{
    text-align: center;
    justify-content: center;
    align-self: baseline;
   /*font-weight: bold;*/
}

.fpet > img{
    width: 15vw;;
}

.fpet:hover{
    transform: scale(1.05);
    box-shadow: 1px 1px 8px 0px rgba(44, 44, 44, .5);
    cursor: pointer;
}



/* Vendas */

.fav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 400px;
    margin: 40px 0px 100px 0px;
}

.fav p{
    grid-row: 2;
    align-self: center;
    font-weight: bold;
}

.fav strong{
    font-size: 1.5em;
    align-self: flex-end;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.418);*/
    color: #96C42D;
}

.fav a{
    grid-row: 3;
    align-self: flex-end;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    background-color: #96C42D;
    color: white;
    padding: 10px;
    font-size: 1.3em;
    width: calc(80vw/5);
    border-radius: 18px;
}

.fav a:hover{
    background-color: #58721b;
    transform: scale(1.02);

    transition: .25s ease;
}

.fav img{
    width: 200px;
    height: 200px;
    justify-self: center;
}

div.fav{
   /*border: 1px solid blue;*/
    padding: 5px;
}

div.fav{
    grid-template-columns: 1fr;
    /*border: 2px solid #2F348B;*/
    box-shadow: 0px 0px 8px rgba(44, 44, 44, .3);
    border-radius: 5px;
    margin: 8px;
}

/* footer */

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    padding: 35px;
    background-color: #2F348B;
    color: white;
}

.footer > div{
    justify-self: center;
}

.footer h1{
    margin: 0px;
    font-weight: normal;
}

.footer p{
    font-weight: normal;
}

